.topnav{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
nav{
  max-width: 960%;
  margin: 0 auto;
  margin-right: 0%;
}
nav>ul{
  text-align: right;
  background-color: rgb(13, 14, 13);
}
  nav>ul>li{
    display: inline-block;
    background-color: black;
  }
  nav>ul>li>a{
    float: left;
    padding: 10px;
    color: white;
    display: block;
    text-transform: uppercase;
    text-decoration : none;
}
nav>ul>li>a:hover{
  background-color: rgb(104, 68, 21);
  color: white;
}
.topnav a.active{
  background-color: black;
  color: black;
}
#home{
  background-image: url("https://assets.skyfilabs.com/images/blog/how-to-select-a-good-mini-project.jpg");
  height : 500px;
  border-right-width: thin;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: monospace;
}
p{
  display : inline;
}
table,td,th{
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
}
table{
  width: 700px;
  text-align: center;
}
th{
  background-color: darkolivegreen;
  color: white;
}
h2 {
text-align: center;

}
#about {
  text-align: center;
float: right;
padding: 10px; 
}
#home {
  flex: display;
}
#profile{
  width : 200px;
  height : 300px;
  
}
#two{
  list-style-type:none;
}